// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.item_card {
  background: white;
  width: 100%;
  height: 150px;
  margin-bottom: 40px;
  border-radius: 20px;
}